<h1><%= @bulk_discount.name %></h1>
<p>Percent Discounted: <%= @bulk_discount.percent_discounted %></p>
<p>Quantity Threshold: <%= @bulk_discount.quantity_threshold %></p>
<%= link_to "Edit #{@bulk_discount.name}", "/bulk_discounts/#{@bulk_discount.id}/edit" %>
